@use '../../../shared/styles/colors';
@use '../../../shared/styles/typography';

.users {
  padding: 40px 0;
}

.users__title {
  margin-bottom: 16px;
}

.users__empty {
  @include typography.font-body;
  color: colors.$color-text-muted;
}
