@use '../../shared/styles/colors';
@use '../../shared/styles/typography';

.home {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home__loading {
  @include typography.font-body;
  color: colors.$color-text-muted;
}

.home__add-btn {
  align-self: flex-start;
}

