@use '../../styles/colors';
@use '../../styles/typography';

.input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-field__label {
  @include typography.font-caption;
  color: colors.$color-text-muted;
}

.input {
  @include typography.font-body;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid colors.$color-border;
  background: colors.$color-surface;
  color: colors.$color-text;
  outline: none;
  transition: border-color 0.15s;

  &::placeholder {
    color: colors.$color-text-empty;
  }

  &:focus {
    border-color: colors.$color-primary;
  }
}
